.main {
    display: flex;
    flex: 1;
    max-height: 100vh;
    /* min-height: -webkit-fill-available; */
    gap: 0.5rem;
}

.leftSide {
    display: flex;
    gap: 0.25rem;
    flex-basis: 40%;
    flex-direction: column;
    position: relative;
}

.leftSide .title {
    font-size: 2rem;
    font-weight: 600;
}

.input-elements-container {
    display: flex;
    overflow-y: scroll;
    gap: 1rem;
    padding: 2rem;
    flex-direction: column;
    position: relative;
}

/* Style the scrollbar */
.input-elements-container::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.rightSide {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-basis: 60%;
    background-color: rgb(100, 100, 100);
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    border-radius: 15px;
    aspect-ratio: 8.5 / 11.9;
    height: 94%;
}

.page-content {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    aspect-ratio: 6.7 / 10.6;
    width: 80%;
    overflow: hidden;
}

.page-content p {
    line-height: 1.4;
    font-family: Helvetica;
}

.buttons-container {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 2.5rem;
    margin-right: 2.5rem;
    display: flex;
    gap: 1rem;
}

.clear-icon-container {
    left: 0;
    display: none;
}

.preview {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .rightSide[data-generated="false"] {
      display: none;
    }
    .leftSide[data-generated="false"] {
        flex-basis: 100%;
    }
    .rightSide[data-generated="true"] {
        flex-basis: 100%;
    }
    .leftSide[data-generated="true"] {
        display: none;
      }

    .clear-icon-container {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
    }

    .preview {
        display: block;
    }

    .page-content {
        font-size: 12px;
    }
  }

@media only screen and (max-width: 700px) {
    .page {
        height: 67%;
    }

    .page-content {
        font-size: 10px;
    }
}