.custom-file-upload {
    cursor: pointer;
}

.main {
    display: flex;
    flex: 1;
    height: 100vh;
}

.leftSide {
    display: flex;
    flex: 1;
    gap: 3rem;
    max-width: 50vw;
    flex-direction: column;
    padding: 5rem;
    position: relative;
}

.rightSide {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50vw;
    background-color: rgb(100, 100, 100);
}

.page {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    position: relative;
    background-color: white;
    border-radius: 15px;
    aspect-ratio: 8.5 / 11;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-content {
    aspect-ratio: 6.5 / 9;
    width: 76.4%;
    overflow: hidden;
}

.page-content p {
    font-family: Arial, sans-serif;
}

.button-container {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 3rem;
    margin-right: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.fileUpload {
    min-width: 200px;
    width: fit-content; 
    height: 50px;
    display: inline;
    border-radius: 0.3rem;
    cursor: pointer;
    background: #e2e2e2;
}

.fileUpload:hover {
    background: #cbcbcb;
}

.wrapper {
    display:inline;
    position:relative
}

.wrapper>input {
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
  